
.border {
    padding-bottom: 5px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: rgba(128,128,128, 0.1);
}


.text-x-larger {
    background-color: lightgray;
    padding: 5px;
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
    
}
.text-larger {
    background-color: lightgray;
    padding: 5px;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

